<!doctype html>
<html lang="{{ site.lang | default: 'en-GB' }}">
<head>
  {% include head.html %}
</head>

<body>
  <a class="skip-link" href="#content">Skip to main content</a>

  {% include header.html %}

  <main id="content" class="site-content" tabindex="-1">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/nav.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {% if page.page_js %}
    <script src="{{ page.page_js | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {% endif %}
  {% include analytics.html %}
</body>
</html>
