<!doctype html>
<html lang="en">
<head>
  {% include head.html %}
</head>

<body>
  <a class="skip-link" href="#content">Skip to main content</a>

  {% include header.html %}

  <main id="content" class="site-content" tabindex="-1">
    {{ content }}
  </main>

  {% include footer.html %}

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}

  <script src="{{ '/assets/js/nav.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {% if page.url == '/service/' %}
    <script src="{{ '/assets/js/service-documents.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {% endif %}
  {% if page.page_js %}
    <script src="{{ page.page_js | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {% endif %}
</body>
</html>
